<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Beautiful Custom UI Theme -->
  <Fragment>
    <UI Id="LevantUI">
      
      <!-- Custom Welcome Dialog -->
      <Dialog Id="WelcomeDlg" Width="370" Height="270" Title="[ProductName] Setup">
        
        <!-- Background -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.WelcomeDlgBannerBitmap)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <!-- Welcome Title -->
        <Control Id="Title" Type="Text" X="135" Y="65" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Bigger}Welcome to Levant ACARS</Text>
        </Control>
        
        <!-- Description -->
        <Control Id="Description" Type="Text" X="135" Y="115" Width="220" Height="80" Transparent="yes" NoPrefix="yes">
          <Text>The professional flight management system for virtual airline operations.

This wizard will guide you through the installation process.</Text>
        </Control>
        
        <!-- Branding Image -->
        <Control Id="BrandingImage" Type="Bitmap" X="0" Y="44" Width="130" Height="190" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
        
        <!-- Buttons -->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        
      </Dialog>

      <!-- Custom Installation Directory Dialog -->
      <Dialog Id="InstallDirDlg" Width="370" Height="270" Title="[ProductName] Setup">
        
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Choose Installation Location</Text>
        </Control>
        
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Select where Levant ACARS will be installed</Text>
        </Control>
        
        <Control Id="FolderLabel" Type="Text" X="20" Y="60" Width="290" Height="30" NoPrefix="yes">
          <Text>Install [ProductName] to:</Text>
        </Control>
        
        <Control Id="Folder" Type="PathEdit" X="20" Y="80" Width="320" Height="18" Property="INSTALLFOLDER" Indirect="yes" />
        
        <Control Id="ChangeFolder" Type="PushButton" X="20" Y="100" Width="56" Height="17" Text="!(loc.InstallDirDlgChange)">
          <Publish Event="SpawnDialog" Value="BrowseDlg">1</Publish>
        </Control>
        
        <!-- Feature Selection -->
        <Control Id="FeaturesLabel" Type="Text" X="20" Y="130" Width="290" Height="15" NoPrefix="yes">
          <Text>Select features to install:</Text>
        </Control>
        
        <Control Id="Tree" Type="SelectionTree" X="20" Y="150" Width="330" Height="70" Property="_BrowseProperty" Sunken="yes" TabSkip="no" Text="!(loc.InstallDirDlgTree)" />
        
        <!-- Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        
      </Dialog>

      <!-- Custom Progress Dialog with Branding -->
      <Dialog Id="ProgressDlg" Width="370" Height="270" Title="[ProductName] Setup" Modeless="yes">
        
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ProgressDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Title}Installing Levant ACARS</Text>
        </Control>
        
        <Control Id="StatusLabel" Type="Text" X="35" Y="65" Width="300" Height="15" NoPrefix="yes">
          <Text>Please wait while Levant ACARS is being installed...</Text>
        </Control>
        
        <Control Id="ActionText" Type="Text" X="70" Y="100" Width="265" Height="10" NoPrefix="yes">
          <Subscribe Event="ActionText" Attribute="Text" />
        </Control>
        
        <Control Id="ProgressBar" Type="ProgressBar" X="35" Y="120" Width="300" Height="10" ProgressBlocks="yes" Text="!(loc.ProgressDlgProgressBar)">
          <Subscribe Event="SetProgress" Attribute="Progress" />
        </Control>
        
        <Control Id="BrandingText" Type="Text" X="35" Y="200" Width="300" Height="30" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Bigger}Levant Virtual Airlines
Professional Flight Management</Text>
        </Control>
        
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        
      </Dialog>

      <!-- Custom Finish Dialog -->
      <Dialog Id="ExitDialog" Width="370" Height="270" Title="[ProductName] Setup">
        
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ExitDialogBannerBitmap)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="Title" Type="Text" X="135" Y="65" Width="220" Height="60" Transparent="yes" NoPrefix="yes">
          <Text>{\WixUI_Font_Bigger}Installation Complete!</Text>
        </Control>
        
        <Control Id="Description" Type="Text" X="135" Y="115" Width="220" Height="80" Transparent="yes" NoPrefix="yes">
          <Text>Levant ACARS has been successfully installed on your computer.

Click Finish to launch the application.</Text>
        </Control>
        
        <Control Id="BrandingImage" Type="Bitmap" X="0" Y="44" Width="130" Height="190" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
        
        <!-- Launch Application Checkbox -->
        <Control Id="LaunchCheckBox" Type="CheckBox" X="135" Y="200" Width="220" Height="17" Property="LAUNCHAPPONEXIT" CheckBoxValue="1">
          <Text>Launch Levant ACARS now</Text>
        </Control>
        
        <Control Id="Finish" Type="PushButton" X="304" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)">
          <Publish Event="DoAction" Value="LaunchApplication">LAUNCHAPPONEXIT</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        
      </Dialog>

    </UI>
  </Fragment>

</Wix>
