<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Product Id="*" 
           Name="Levant ACARS" 
           Language="1033" 
           Version="1.0.0" 
           Manufacturer="Levant Virtual Airlines" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perMachine"
             Description="Levant ACARS - Professional Flight Management System"
             Manufacturer="Levant Virtual Airlines" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Levant ACARS is already installed." 
                  AllowSameVersionUpgrades="yes" />
    
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AppIcon.ico" SourceFile="Assets\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    
    <Property Id="ARPHELPLINK" Value="https://levant-va.com/support" />
    <Property Id="ARPURLINFOABOUT" Value="https://levant-va.com" />
    
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Feature Id="ProductFeature" 
             Title="Levant ACARS" 
             Description="Levant ACARS Application"
             Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HarvestedFiles" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="Levant Virtual Airlines">
          <Directory Id="INSTALLFOLDER" Name="Levant ACARS" />
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="DesktopFolder" />
    </Directory>

  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="StartMenuShortcutComponent" Directory="ProgramMenuFolder" Guid="B1C2D3E4-F5A6-4789-BCDE-EF2345678901">
        <Shortcut Id="StartMenuShortcut"
                  Name="Levant ACARS"
                  Description="Professional Flight Management System"
                  Target="[INSTALLFOLDER]LevantACARS.exe"
                  Icon="AppIcon.ico"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" 
                      Key="Software\LevantVA\LevantACARS" 
                      Name="installed" 
                      Type="integer" 
                      Value="1" 
                      KeyPath="yes" />
        <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
      </Component>
      
      <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="C2D3E4F5-A6B7-4789-CDEF-EF3456789012">
        <Shortcut Id="DesktopShortcut"
                  Name="Levant ACARS"
                  Description="Professional Flight Management System"
                  Target="[INSTALLFOLDER]LevantACARS.exe"
                  Icon="AppIcon.ico"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" 
                      Key="Software\LevantVA\LevantACARS" 
                      Name="desktopShortcut" 
                      Type="integer" 
                      Value="1" 
                      KeyPath="yes" />
        <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
